%nav.navbar.navbar-default
	.container
		.collapse.navbar-collapse#navbar
			%ul.nav.navbar-nav
				%li.navbar-left
					%a{  :href => "about"}= "about"
				%li.navbar-left
					%a{  :href => "smallthingsforbigmoods"}= "small things for big moods"
				%li.navbar-left
					%a{  :href => "contact"}= "contact"
			%ul.nav.navbar-right