%h1 small things for big moods

%div.divider
	%div.text-box
		%p an art zine curated by riles full of small things that hit those Big Moods. 
		%a{ :href => "submissiondetails"}= "submission deets" 


